@model Reparation.Models.WorkOrders

@{
    ViewBag.Title = "Delete";
}

 <div class="create-page">
        <div class="form">
            <form class="create-page">
                <h3>Är du säker på att du vill ta bort detta? </h3>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.Label("Reparationsnr :")

        </dt>

        <dd class="text-left">
            <b>
                @Html.DisplayFor(model => model.WorkOrderId)
            </b>
        </dd>
        <dt>
            @Html.Label("Mottagare :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.GoldSmithName)
        </dd>

        <dt>
            @Html.Label("Kund namn :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.Label("Telefonnummer :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.CustomerMobileNumber)
        </dd>

        <dt>
            @Html.Label("Kund email :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.Label("Föremål 1:")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.JewelleryDescription1)
        </dd>
        <dt>
            @Html.Label("Åtgärd :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.WorkToBeDone)
        </dd>
        <dt>
            @Html.Label("Föremål 2:")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.JewelleryDescription2)
        </dd>


        <dt>
            @Html.Label("Åtgärd :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.WorkToBeDone2)
        </dd>
        <dt>
            @Html.Label("Föremål3 :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.JewelleryDescription3)
        </dd>



        <dt>
            @Html.Label("Åtgärd :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.WorkToBeDone3)
        </dd>

        <dt>
            @Html.Label("Säljare")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt>
            @Html.Label("Inlämnat (yyyy-MM-dd) :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.ProductGivenOn)
        </dd>

        @*<dt>
            @Html.Label("",ProductToBeReturnedOn)
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.ProductToBeReturnedOn)
        </dd>
        <dt>
            @Html.Label("",AmountEstimate)
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.AmountEstimate)
        </dd>*@

        <dt>
            @Html.Label("Status :")
        </dt>

        <dd class="text-left">
            @Html.DisplayFor(model => model.sStatus)
        </dd>

    </dl>

        

                </form>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-danger text-center" /><br />
            @Html.ActionLink("Huvud Sida", "Index")
        </div>
    }
</div>
     </div>
