@model Reparation.Models.WorkOrders

<div class="not-printable">
    @{
        ViewBag.Title = "Details";
    }
</div>
<link href="~/Content/NewStyle.css" rel="stylesheet" />

<div  class="print-page">
    <div class="formput">
        <form class="print-page">
            <div id="to_print">
                <img src="~/Images/logo.png" width="50" ,height="50" class="text-center" />
                <h4>Reparationer</h4>
                <table class="table-condensed text-left">

                    <tr class="text-center" width="100%"><td></td></tr>
                    <tr>
                        <td width="200px">@Html.Label("Reparationsnr :")</td>
                        <td width="500px">@Html.DisplayFor(model => model.WorkOrderId)</td>
                    </tr>
                    <tr>
                        <td width="200px">@Html.Label("Mottagare :")</td>
                        <td width="500px">@Html.DisplayFor(model => model.GoldSmithName)</td>
                    </tr>

                    <tr>
                        <td width="200px"> @Html.Label("Kund namn :")</td>
                        <td width="500px"> @Html.DisplayFor(model => model.CustomerName)</td>
                    </tr>
                    @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "User")
                    {
                        <tr>
                            <td width="200px"> @Html.Label("Telefonnummer :")</td>
                            <td width="500px">  @Html.DisplayFor(model => model.CustomerMobileNumber)</td>
                        </tr>
                        <tr><td width="200px"> @Html.Label("Kund email :")</td>
                            <td width="500px"> @Html.DisplayFor(model => model.CustomerEmail)</td>
                        </tr>
                    }
                    <tr>
                        <td width="200px">@Html.Label("Föremål 1:")</td>
                        <td width="500px">  @Html.DisplayFor(model => model.JewelleryDescription1)</td>
                    </tr>
                    <tr>
                        <td width="200px"> @Html.Label("Åtgärd :")</td>
                        <td width="500px"> @Html.DisplayFor(model => model.WorkToBeDone)</td>
                    </tr>
                    <tr>
                        <td width="200px"> @Html.Label("Föremål 2:")</td>
                        <td width="500px">  @Html.DisplayFor(model => model.JewelleryDescription2)</td>
                    </tr>
                    <tr>
                        <td width="200px">@Html.Label("Åtgärd :")</td>
                        <td width="500px">   @Html.DisplayFor(model => model.WorkToBeDone2)</td>
                    </tr>
                    <tr>
                        <td width="200px">@Html.Label("Föremål3 :")</td>
                        <td width="500px"> @Html.DisplayFor(model => model.JewelleryDescription3)</td>
                    </tr>
                    <tr>
                        <td width="200px">  @Html.Label("Åtgärd :")</td>
                        <td width="500px"> @Html.DisplayFor(model => model.WorkToBeDone3)</td>
                    </tr>
                    <tr>
                        <td width="200px">@Html.Label("Inlämnat (yyyy-MM-dd) :")</td>
                        <td width="500px">   @Html.DisplayFor(model => model.ProductGivenOn)</td>
                    </tr>
                    <tr>
                        <td width="200px">@Html.Label("Status :")</td>
                        <td width="500px"> @Html.DisplayFor(model => model.sStatus)</td>
                    </tr>
                    <tr>
                        <td width="200px">@Html.Label("Anteckningar :")</td>
                        <td width="500px">@Html.DisplayFor(model => model.Comments)</td>
                    </tr>
                </table>


                <div>
                    @*<textarea class="form-control" placeholder="Anteckningar" rows="2" style="width:100%"></textarea>*@
                    <br />
                    <br />
                    <span class="pull-right">
                        ______________________________
                        Kund signatur
                    </span>
                    <br /><br />
                    <p class="text-left" style="font-size:smaller">
                        OBSERVERA<br />
                        Till Hallbergs Guld inlämnad egendom återfås endatst mot detta kvitto. Om uppdraget eller avtalet har upphört att gålla
                        och kunden dårefter anmanats att avhåmta egendomen och i anmaningen upplysts om att egendomen annars kan
                        komma att Såljas efter tre månader, äger Hallbergs Guld sälja egendomen efter den angivna  fristens utgång i enlighet
                        med beståmmelserna i Lag (1985:982) om näringsidkares rätt att sälja saker som inte har hämtats
                        <br />
                        Vid eventuell skada på inlämnad egendom som Hallbergs Guld är ansvarig för skall Hallbergs Guld i första hand avhjäl-
                        pa felet. Om inte detta är möjligt äger Hallbergs Guld ersätta med annan likvärdig egendom. I övrigt skall Ha%berqs Guld
                        ersätte skadan endast till den del den ej omfattas av kundens egen försäkring.

                    </p>
                </div>
            </div>

        </form>
        <div>

            @*@Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) ||*@
            @if (Session["Role"].ToString() == "Admin" || Session["Role"].ToString() == "User")
            {
                <button class="btn btn-md btn-primary" onclick="location.href='@Url.Action("Edit", "WorkOrders", new { id = Model.Id })';return false;">Redigera</button>
                <button type="button" class="btn btn-md btn-success print_no" onclick="print_this('to_print')">Skriv ut!</button>
            }
            <button class="btn btn-md btn-primary" onclick="location.href='@Url.Action("Index", "WorkOrders")';return false;">Huvud Sida</button>

            @*<a href="javascript:window.print()"><b>Skriv ut</b></a>*@

        </div>
</div>
<script src="~/Scripts/PrintwithJavascript.js"></script>